.sectionHero {
  position: relative;
  padding: 96px 20px;
}

.wrapper {
  width: 100%;
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroContent {
  max-width: 500px;
  text-align: center;
}

.heroContent h1 {
  color: var(--heading);
  font-size: 34px;
  margin-bottom: 20px;
}

.heroContent p {
  color: var(--fontHover);
}

.heroImage {
  width: 100%;
  max-width: 550px;
}

.heroImage img {
  width: 350px;
  margin-top: -70px;
  margin-left: -1.5rem;
}

/* Media Queries */
@media (min-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
  }

  .heroImage {
    order: 2;
  }

  .heroContent {
    order: 1;
    text-align: left;
  }

  .heroContent h1 {
    font-size: 40px;
  }
  .heroImage img {
    width: 100%;
    margin-top: 0;
    margin-left: 5rem;
  }
}
